{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { c max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="mt-5 d-flex flex-column align-items-center justify-content-center">
    <h1>Bienvenue sur CentralCar! </h1>

        Retrouvez nos meilleures ventes 
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/wamp64/www/IPSSI/ecommerce/src/Controller/ContentController.php'|file_link(0) }}">src/Controller/ContentController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/wamp64/www/IPSSI/ecommerce/templates/content/index.html.twig'|file_link(0) }}">templates/content/index.html.twig</a></code></li>
        </ul>
</div>

{# <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> #}

{% endblock %}
