{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
  /*   .example-wrapper { c max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */
</style>

<div class="mt-5 d-flex flex-column align-items-center justify-content-center home-title">
    <h1>Bienvenue sur CentralCar! </h1>
</div>

<h4 class="mt-2 d-flex flex-column align-items-center justify-content-center">Retrouvez nos meilleures ventes </h4>

<div class="card-wrapper d-flex justify-content-center mt-3">
    {% for product in products %}

        <div class="card m-4" style="width: 25rem;">
            <img src="{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.excerpt }}</p>
                <a href="{{ path('app_product_read', {'id': product.id}) }}" class="btn btn-primary">Show</a>
            </div>
        </div>

    {% endfor %}
</div>


{% endblock %}
