{% extends 'base.html.twig' %}

{% block title %}MAJ produit{% endblock %}

{% block body %}
    <h1>Mettre à jour le product</h1>

    {{ include('content/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_products') }}">Retour en arrière</a>

    {{ include('content/product/_delete_form.html.twig') }}
{% endblock %}
