{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau produit</h1>

    {{ include('content/_form.html.twig') }}

    <a href="{{ path('app_products') }}">Retour en arrière</a>
{% endblock %}
