{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block body %}
    <h1>Create new Brand</h1>

    {{ include('content/_form.html.twig') }}

    <a href="{{ path('app_brands') }}">back to list</a>
{% endblock %}
