{% extends 'base.html.twig' %}

{% block title %}Modifications{% endblock %}

{% block body %}

<div class="mt-5 d-flex flex-column align-items-center justify-content-center">
    <h1>Modifier mes informations</h1>

    {{ include('content/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_user_read', {'id': app.user.id}) }}">Retour sur le profile</a>

</div>
{% endblock %}
