@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    background-color: lightgray;

    position: relative;
}

.home-title{
    font-family: 'Righteous', cursive;
}

.form-login{
    width: 500px;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login input{
    margin: 10px;
}

.form-control{
    width: 60%;
}
