{% extends 'base.html.twig' %}

{% block title %}Annulation!{% endblock %}

{% block body %}

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <h1>La commande a été annulée</h1>
    <p> Désolé pour ce désagrément! Si le problème persiste, merci de nous contacter via
      <a href="#">rentalcar@service.com</a>.
    </p>
</div>
    
{% endblock %}
