{% extends 'base.html.twig' %}

{% block title %}Commande validée!{% endblock %}

{% block body %}

<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <h1 class="mt-5">Merci pour votre commande!</h1>
  <p>Nous sommes heureux de faire des heureux.</p>
  <p>Si vous avez des questions contactez nous via
  <a href="#">rentalcar@service.com</a>.</p>
</div>
 
    
{% endblock %}
